@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  color: #1f1f1f;
  font-family: "montserratregular";
  font-size: 16px;
}
body.single-projects .MainMenu--black li.menu-item-object-projects a, body.tax-types .MainMenu--black li.menu-item-object-projects a {
  border-bottom: 4px solid #fa5151;
}
body.single-projects .MainMenu--black li a, body.tax-types .MainMenu--black li a {
  color: #333333;
}
body.single-projects .MainMenu--black li a:hover, body.tax-types .MainMenu--black li a:hover {
  border-bottom: 4px solid #fa5151;
}
body.single-projects .Slidebar .MainMenu li.menu-item-object-projects a, body.tax-types .Slidebar .MainMenu li.menu-item-object-projects a {
  border-bottom: 4px solid white;
}
body.single-projects .Header.affix .MainMenu--black li.menu-item-object-projects a, body.tax-types .Header.affix .MainMenu--black li.menu-item-object-projects a {
  border-bottom: 4px solid white;
}
body.single-projects .Header.affix .MainMenu--black li a, body.tax-types .Header.affix .MainMenu--black li a {
  color: white;
}
body.single-projects .Header.affix .MainMenu--black li a:hover, body.tax-types .Header.affix .MainMenu--black li a:hover {
  border-bottom: 4px solid white;
}

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:focus {
  text-decoration: none;
}

.text-white {
  color: white;
}

.text-title {
  color: #3b3b3b;
}

.text-orange {
  color: #ff6043;
}

.Hr {
  border-top-color: rgba(51, 51, 51, 0.4);
}

@font-face {
  font-family: 'montserratregular';
  src: url("./../fonts/montserrat-regular.eot");
  src: url("./../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-regular.woff2") format("woff2"), url("./../fonts/montserrat-regular.woff") format("woff"), url("./../fonts/montserrat-regular.ttf") format("truetype"), url("./../fonts/montserrat-regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratmedium';
  src: url("./../fonts/montserrat-medium.eot");
  src: url("./../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-medium.woff2") format("woff2"), url("./../fonts/montserrat-medium.woff") format("woff"), url("./../fonts/montserrat-medium.ttf") format("truetype"), url("./../fonts/montserrat-medium.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("./../fonts/montserrat-light.eot");
  src: url("./../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-light.woff2") format("woff2"), url("./../fonts/montserrat-light.woff") format("woff"), url("./../fonts/montserrat-light.ttf") format("truetype"), url("./../fonts/montserrat-light.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url("./../fonts/montserrat-semibold.eot");
  src: url("./../fonts/montserrat-semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-semibold.woff2") format("woff2"), url("./../fonts/montserrat-semibold.woff") format("woff"), url("./../fonts/montserrat-semibold.ttf") format("truetype"), url("./../fonts/montserrat-semibold.svg#montserratsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("./../fonts/icomoon.eot?tdwnv8");
  src: url("./../fonts/icomoon.eot?tdwnv8#iefix") format("embedded-opentype"), url("./../fonts/icomoon.ttf?tdwnv8") format("truetype"), url("./../fonts/icomoon.woff?tdwnv8") format("woff"), url("./../fonts/icomoon.svg?tdwnv8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\e906";
}

.icon-arrow-circle-o-left:before {
  content: "\e904";
}

.icon-arrow-circle-o-right:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e907";
}

.icon-keyboard_arrow_right:before {
  content: "\e902";
}

.icon-keyboard_arrow_left:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e901";
}

.icon-play:before {
  content: "\e900";
}

.Header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  position: fixed;
  top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 99;
}
.Header--black {
  background-color: transparent;
}
.Header--black .Header-toggle {
  color: #111015;
}
.Header.affix {
  background-color: #fa5151;
}
.Header.affix .MainMenu--black li.current-menu-item a, .Header.affix .MainMenu--black li.current-menu-parent a, .Header.affix .MainMenu--black li.active a {
  border-bottom: 4px solid white;
}
.Header.affix .MainMenu--black li a {
  color: white;
}
.Header.affix .MainMenu--black li a:hover {
  border-bottom: 4px solid white;
}
@media screen and (max-width: 991px) {
  .Header {
    padding: 8px 0;
  }
}

.Header-logo {
  margin: 0;
}
@media screen and (max-width: 991px) {
  .Header-logo img {
    margin: 0;
    width: 250px;
  }
}

.Header-menu {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
}

.Header-toggle {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
}

.MainMenu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}
.MainMenu li {
  font-family: "montserratmedium";
  padding: 0 20px;
}
.MainMenu li.current-menu-item a, .MainMenu li.current-menu-parent a, .MainMenu li.active a {
  border-bottom: 4px solid white;
}
.MainMenu li a {
  color: white;
  padding-bottom: 5px;
  text-align: center;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.MainMenu li a:hover {
  border-bottom: 4px solid white;
  text-decoration: none;
}
.MainMenu li a:focus {
  text-decoration: none;
}
.MainMenu--black li.current-menu-item a, .MainMenu--black li.current-menu-parent a, .MainMenu--black li.active a {
  border-bottom: 4px solid #fa5151;
}
.MainMenu--black li a {
  color: #333333;
}
.MainMenu--black li a:hover {
  border-bottom: 4px solid #fa5151;
}

.Carousel--home {
  position: relative;
}
.Carousel--home .carousel-caption {
  -webkit-align-content: center;
  align-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: auto;
  height: 100%;
  left: 10%;
  padding: 0;
  right: auto;
  text-align: left;
  text-shadow: none;
  top: 0;
  width: 40%;
}
.Carousel--home .carousel-caption h2, .Carousel--home .carousel-caption h3, .Carousel--home .carousel-caption p {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.Carousel--home .carousel-caption h3 {
  font-family: "montserratlight";
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-caption h3 {
    font-size: 2.5em;
  }
}
.Carousel--home .carousel-caption h2 {
  font-family: "montserratsemibold";
  font-size: 4.875em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-caption h2 {
    font-size: 3em;
  }
}
.Carousel--home .carousel-caption p {
  font-size: 1.125em;
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-caption p {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .Carousel--home .carousel-caption {
    width: 80%;
  }
}
.Carousel--project .carousel-indicators {
  bottom: auto;
  left: auto;
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.Carousel--project .carousel-indicators li {
  height: auto;
  text-indent: unset;
  width: 150px;
}
.Carousel--project .carousel-indicators li img {
  width: 150px;
}
@media screen and (max-width: 767px) {
  .Carousel--project .carousel-indicators li img {
    display: none;
  }
}
.Carousel--project .carousel-indicators li.active .img-thumbnail {
  background-color: #ff6043;
  border-color: #ff6043;
}
@media screen and (max-width: 767px) {
  .Carousel--project .carousel-indicators li.active {
    background-color: #ff6043;
  }
}
@media screen and (max-width: 767px) {
  .Carousel--project .carousel-indicators li {
    background-color: #fff;
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 767px) {
  .Carousel--project .carousel-indicators {
    bottom: 10px;
    margin: 0;
    position: absolute;
    width: 100%;
  }
}
.Carousel--project .carousel-control {
  background-image: none;
  bottom: auto;
  color: white;
  font-size: 5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-shadow: none;
  top: 35%;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: auto;
}
.Carousel--project .carousel-control.left {
  left: 20px;
}
.Carousel--project .carousel-control.right {
  right: 20px;
}
.Carousel--project .carousel-control:hover {
  color: #ff6043;
}
.Carousel--project:hover .carousel-control {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.Button {
  border: none;
  display: inline-block;
  font-family: "montserratmedium";
  font-size: 1.125em;
  padding: 15px 35px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Button:hover, .Button:focus {
  text-decoration: none;
}
.Button--orange {
  background-color: #ff6043;
  color: white !important;
}
.Button--orange:hover, .Button--orange:focus {
  background-color: #fa5151;
  color: white !important;
}
.Button--white {
  background-color: #fff;
}
.Button--transparent {
  border: 1px solid white;
  color: white;
}
.Button--transparent:hover {
  background-color: #ff6043;
  border-color: #ff6043;
  color: white;
}
.Button i[class^="icon-"] {
  vertical-align: middle;
}
.Button--normal {
  font-size: 1em;
}
.Button--small {
  padding: 10px 15px;
}

.Arrow {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  background-color: transparent;
  border: none;
  bottom: 80px;
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
}
.Arrow i {
  display: block;
  font-size: 2em;
}
@media screen and (max-width: 991px) {
  .Arrow {
    bottom: 20px;
  }
}

.ArrowTop {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  bottom: 50px;
  color: #333333;
  display: none;
  font-size: 2em;
  position: fixed;
  right: 25px;
  z-index: 9;
}

.Services {
  display: -webkit-flex;
  display: flex;
}

.Services-item {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
}

.Services-title {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  top: 0;
  width: 100%;
}
.Services-title h3 {
  color: white;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  font-size: 2.25em;
  margin: 0;
}

.Page {
  padding: 110px 0 80px;
}
.Page--borderOrange {
  background: white url("./../images/border-orange.jpg") 100% 0 no-repeat;
  background-size: contain;
}
@media screen and (max-width: 991px) {
  .Page--borderOrange {
    background: none;
  }
}
.Page--intro {
  padding-top: 200px;
}
@media screen and (max-width: 991px) {
  .Page--intro p {
    text-align: center;
  }
}
.Page p {
  font-family: "montserratlight";
}
.Page p a {
  color: #1f1f1f;
}
.Page p a:hover {
  color: #ff6043;
}
@media screen and (max-width: 991px) {
  .Page {
    padding-top: 100px;
  }
}

.Page-section {
  margin-top: 30px;
}

.Page-link {
  margin: 30px 0;
}
.Page-link i[class^="icon-"] {
  font-size: 2em;
  vertical-align: middle;
}

.Page-title {
  color: #3b3b3b;
  font-family: "montserratsemibold";
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
}
.Page-title--white {
  color: white;
}

.Page-subtitle {
  color: #3b3b3b;
  font-family: "montserratsemibold";
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 15px;
}

.Page-legend {
  font-family: "montserratlight";
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .Page-legend {
    font-size: 2em;
  }
}

.Page-resalt {
  font-family: "montserratsemibold";
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .Page-resalt {
    font-size: 3em;
  }
}

.Page-blog {
  display: -webkit-flex;
  display: flex;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .Page-blog {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Page-blog-item {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
  padding: 0 15px;
}
.Page-blog-item p {
  font-family: "montserratlight";
}
@media screen and (max-width: 991px) {
  .Page-blog-item p {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 767px) {
  .Page-blog-item {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.Page-blog-figure {
  margin-bottom: 15px;
}

.Page-blog-date {
  color: gray;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-top: 0;
}

.Page-blog-title {
  font-family: "montserratmedium";
  font-size: 1.5em;
}
@media screen and (max-width: 991px) {
  .Page-blog-title {
    font-size: 1.25em;
    margin-top: 0;
  }
}
.Page-blog-title a {
  color: #111015;
  margin-top: 0;
}
.Page-blog-title a:hover {
  color: #ff6043;
  text-decoration: none;
}

.Page-blog-readmore {
  color: #f22424;
  font-family: "montserratmedium";
}
.Page-blog-readmore:hover, .Page-blog-readmore:focus {
  color: #ff6043;
}

.Page-separator {
  border-top-width: 3px;
  border-top-style: solid;
  margin-bottom: 25px;
  margin-top: 25px;
}
.Page-separator--short {
  width: 70px;
}
.Page-separator--right {
  margin-left: auto;
  margin-right: 0;
}
.Page-separator--orange {
  border-top-color: #ff6043;
}

.Page-list {
  padding-left: 0;
}
.Page-list--flex {
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 991px) {
  .Page-list--flex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.Page-list--flex li {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  list-style: none;
}
@media screen and (max-width: 991px) {
  .Page-list--flex li {
    -webkit-flex: 1 0 25%;
    flex: 1 0 25%;
  }
}
@media screen and (max-width: 767px) {
  .Page-list--flex li {
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

.Page-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Page-flex--blog .Page-flex-item--50 {
  margin-bottom: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .Page-flex--blog .Page-flex-item--50 {
    margin-bottom: 15px;
  }
}
.Page-flex--blog .Page-flex-item:hover .Page-flex--blog-content {
  display: -webkit-flex;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.Page-flex-item {
  margin-bottom: 40px;
}
.Page-flex-item--50 {
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .Page-flex-item--50 {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}
.Page-flex-item--icon {
  padding-left: 60px;
  position: relative;
}
.Page-flex-item--icon-casco::before {
  background: transparent url("./../images/icon-casco.png") 0 0 no-repeat;
  content: "";
  display: inline-block;
  height: 44px;
  left: 0;
  position: absolute;
  width: 44px;
}

.Page-flex--blog-figure {
  position: relative;
}

.Page-flex--blog-content {
  background-color: rgba(250, 81, 81, 0.7);
  display: none;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  width: 100%;
}
.Page-flex--blog-content .Page-subtitle {
  color: white;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .Page-flex--blog-content .Page-subtitle {
    font-size: 1.125em;
    margin-bottom: 0;
    padding: 0 10px;
  }
}
.Page-flex--blog-content .Page-subtitle::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  margin: 25px auto 0;
  width: 32px;
}
@media screen and (max-width: 991px) {
  .Page-flex--blog-content .Page-subtitle::after {
    display: none;
  }
}
.Page-flex--blog-content .Page-subtitle, .Page-flex--blog-content p {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .Page-flex--blog-content .Page-subtitle, .Page-flex--blog-content p {
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}
@media screen and (max-width: 991px) {
  .Page-flex--blog-content p {
    font-size: 0.875em;
    margin-bottom: 0;
    padding: 0 15px;
  }
  .Page-flex--blog-content p .Button {
    padding: 10px;
  }
}
@media screen and (max-width: 991px) {
  .Page-flex--blog-content {
    bottom: 0;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: flex;
    height: 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    top: auto;
  }
}
@media screen and (max-width: 767px) {
  .Page-flex--blog-content {
    height: 75%;
  }
}

.Page-nav {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .Page-nav {
    margin-bottom: 15px;
  }
}

.Page-nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Page-nav-list li {
  border: 1px solid #3b3b3b;
  font-size: 1.125em;
  list-style: none;
  margin-right: 15px;
  padding: 15px 20px;
}
.Page-nav-list li:last-child {
  margin-right: 0;
}
.Page-nav-list li a {
  color: #3b3b3b;
  display: inline-block;
}
.Page-nav-list li.current-menu-item, .Page-nav-list li:hover {
  background-color: #fa5151;
  border-color: #fa5151;
}
.Page-nav-list li.current-menu-item a, .Page-nav-list li:hover a {
  color: white;
}
@media screen and (max-width: 767px) {
  .Page-nav-list li {
    margin-bottom: 10px;
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  .Page-nav-list {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 10px 0;
  }
}

.Page-single-title {
  font-family: "montserratmedium";
}
@media screen and (max-width: 767px) {
  .Page-single-title {
    text-align: center;
  }
}

.Page-single-category {
  font-size: 1.125em;
}
.Page-single-category a:hover {
  color: #f22424;
}
@media screen and (max-width: 767px) {
  .Page-single-category {
    text-align: center;
  }
}

.Page-single-figure {
  margin: 20px 0;
}

.Page-video video {
  margin: 0 auto;
  width: 640px;
}
@media screen and (max-width: 767px) {
  .Page-video video {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .Page-video {
    margin-top: 30px;
  }
}

.Parallax {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 120px 0;
}
@media screen and (max-width: 991px) {
  .Parallax {
    padding: 80px 0;
  }
}

.Parallax-caption {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto 0 10%;
  width: 70%;
}
@media screen and (max-width: 991px) {
  .Parallax-caption {
    text-align: center;
    width: 80%;
  }
}

.Parallax-title, .Parallax-subtitle {
  color: white;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  margin: 0;
}

.Parallax-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
}
@media screen and (max-width: 991px) {
  .Parallax-subtitle {
    font-size: 2.5em;
  }
}

.Parallax-title {
  font-family: "montserratsemibold";
  font-size: 4em;
}
@media screen and (max-width: 991px) {
  .Parallax-title {
    font-size: 3em;
  }
}

.Slogan {
  background-color: #ff6043;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 50px 0;
}

.Slogan-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 10%;
  width: 80%;
}

.Slogan-subtitle, .Slogan-title {
  color: white;
  margin: 0;
}

.Slogan-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
}
@media screen and (max-width: 991px) {
  .Slogan-subtitle {
    font-size: 1.5em;
  }
}

.Slogan-title {
  font-family: "montserratsemibold";
  font-size: 4em;
}
@media screen and (max-width: 991px) {
  .Slogan-title {
    font-size: 2.5em;
  }
}

.Form .form-group {
  margin-bottom: 20px;
}
.Form .form-control {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #111015;
  font-size: 1em;
  height: 42px;
}
.Form .form-control:-moz-placeholder {
  color: #111015;
}
.Form .form-control::-moz-placeholder {
  color: #111015;
}
.Form .form-control:-ms-input-placeholder {
  color: #111015;
}
.Form .form-control::-webkit-input-placeholder {
  color: #111015;
}
.Form textarea.form-control {
  height: 100px;
}

.Form-loader {
  color: white;
  display: inline-block;
  font-size: 2em;
  margin: 0 0 0 15px;
  vertical-align: middle;
}

.Contact {
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 767px) {
  .Contact {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Contact-map, .Contact-form {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
@media screen and (max-width: 767px) {
  .Contact-map, .Contact-form {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Contact-map-figure {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .Contact-map-figure {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .Contact-map {
    -webkit-order: 1;
    order: 1;
  }
}

.Contact-form {
  background-color: #111015;
  padding: 80px 12%;
}
@media screen and (max-width: 991px) {
  .Contact-form {
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .Contact-form {
    -webkit-order: 0;
    order: 0;
    padding: 50px 25px;
  }
}
.Contact-form .Form {
  margin-top: 25px;
}

.Footer {
  background: #111015 url("./../images/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.Footer-logo {
  margin: 0 0 25px 0;
}
@media screen and (max-width: 767px) {
  .Footer-logo img {
    margin: 0 auto;
  }
}

.Footer-text {
  color: white;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .Footer-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .Footer-info {
    margin: 25px 0;
  }
  .Footer-info .Footer-text {
    font-size: 1.125em;
  }
}

.Footer-separator {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.Footer-social {
  margin-bottom: 0;
  margin-left: 0;
}
.Footer-social > .Footer-social-item {
  font-size: 1.25em;
  padding: 0 15px;
}
.Footer-social > .Footer-social-item a {
  color: white;
}
.Footer-social > .Footer-social-item a:hover {
  color: #ff6043;
}
@media screen and (max-width: 767px) {
  .Footer-social {
    margin: 25px 0;
    text-align: center;
  }
  .Footer-social > .Footer-social-item {
    font-size: 2em;
  }
}

.Marker {
  padding-top: 15px;
}

.Marker-list {
  padding-left: 0;
}
.Marker-list li {
  font-family: "montserratlight";
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.Marker-list li strong {
  font-family: "montserratsemibold";
}

.Marker-title {
  font-family: "montserratsemibold";
  font-size: 1.75em;
  margin-top: 0;
}

.Single-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.Single-nav-pre, .Single-nav-next {
  display: -webkit-flex;
  display: flex;
  color: #333333;
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
  font-family: "montserratmedium";
  font-size: 1.125em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.Single-nav-pre i[class^="icon-"], .Single-nav-next i[class^="icon-"] {
  font-size: 1.44em;
  vertical-align: top;
}
.Single-nav-pre i.icon-arrow-circle-o-left, .Single-nav-next i.icon-arrow-circle-o-left {
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .Single-nav-pre i.icon-arrow-circle-o-left, .Single-nav-next i.icon-arrow-circle-o-left {
    margin-right: 5px;
  }
}
.Single-nav-pre i.icon-arrow-circle-o-right, .Single-nav-next i.icon-arrow-circle-o-right {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .Single-nav-pre i.icon-arrow-circle-o-right, .Single-nav-next i.icon-arrow-circle-o-right {
    margin-left: 5px;
  }
}
.Single-nav-pre:hover, .Single-nav-next:hover {
  color: #333333;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.Single-nav-pre:hover i[class^="icon-"], .Single-nav-next:hover i[class^="icon-"] {
  color: #ff6043;
}
@media screen and (max-width: 767px) {
  .Single-nav-pre, .Single-nav-next {
    font-size: 1em;
  }
}

.Single-nav-next {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.Single-tags {
  display: -webkit-flex;
  display: flex;
  margin: 25px 0;
}
@media screen and (max-width: 767px) {
  .Single-tags {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Single-tags-title {
  color: #333333;
  font-family: "montserratmedium";
  font-size: 1.125em;
  margin: 0 10px 0 0;
}

.Single-tags-list {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
.Single-tags-list li {
  font-family: "montserratmedium";
  font-size: 1.125em;
  list-style: none;
  margin-right: 15px;
}
.Single-tags-list li:last-child {
  margin-right: 0;
}
.Single-tags-list li a {
  color: #333333;
  display: block;
}
.Single-tags-list li a:hover {
  color: #ff6043;
}
@media screen and (max-width: 767px) {
  .Single-tags-list li {
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .Single-tags-list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Sidebar-widget {
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .Sidebar-widget {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

.Sidebar-title {
  border-bottom: 2px solid #c9c9c9;
  color: #333333;
  font-family: "montserratmedium";
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 5px;
  position: relative;
}
.Sidebar-title::after {
  background-color: #ff6043;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 90px;
}
@media screen and (max-width: 991px) {
  .Sidebar-title {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Sidebar-related {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .Sidebar-related {
    -webkit-flex: 0 1 48%;
    flex: 0 1 48%;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Sidebar-related {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Sidebar-related-figure {
  -webkit-flex: 0 1 45%;
  flex: 0 1 45%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Sidebar-related-figure {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Sidebar-related-content {
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Sidebar-related-content {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Sidebar-related-content-title {
  font-family: "montserratmedium";
  font-size: 1.125em;
}
.Sidebar-related-content-title a {
  color: #333333;
}
.Sidebar-related-content-title a:hover {
  color: #ff6043;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .Sidebar-related-content-title {
    text-align: center;
  }
}

.Blog {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.Blog-item {
  -webkit-flex: 0 1 49%;
  flex: 0 1 49%;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .Blog-item {
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.Blog-item-figure {
  position: relative;
}

.Blog-item-content {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
}
.Blog-item-content p {
  color: white;
  font-family: "montserratlight";
  font-size: 0.875em;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
}
@media screen and (max-width: 991px) {
  .Blog-item-content p {
    margin-bottom: 5px;
  }
}
.Blog-item-content .Button:focus {
  color: white;
}
@media screen and (max-width: 991px) {
  .Blog-item-content .Button--small {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 991px) {
  .Blog-item-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  .Blog-item-content {
    background-color: #ff6043;
    height: auto;
    padding: 10px;
    position: relative;
    top: auto;
  }
}

.Blog-title {
  color: white;
  font-family: "montserratmedium";
  font-size: 1.125em;
  margin-top: 0;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
}
@media screen and (max-width: 991px) {
  .Blog-title {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

.Slidebar {
  background-color: rgba(250, 81, 81, 0.9);
  height: 100%;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 99;
}
.Slidebar.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.Slidebar .Header-menu {
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
  padding-top: 0;
  text-align: center;
}
.Slidebar .MainMenu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Slidebar .MainMenu li {
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
  font-size: 2em;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .Slidebar .MainMenu li {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

.Slidebar-info, .Slidebar-social {
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
}

.Slidebar-close {
  color: white;
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  right: 25px;
  top: 25px;
}

.Slidebar-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .Slidebar-content {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
}

.Slidebar-info {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .Slidebar-info {
    margin-top: 20px;
  }
}

.Slidebar-text {
  color: white;
  font-family: "montserratmedium";
  font-size: 1.625em;
}
@media screen and (max-width: 767px) {
  .Slidebar-text {
    font-size: 1.125em;
  }
}

.Slidebar-social {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 30px 0 0 0;
  padding-left: 0;
}

.Slidebar-social-item {
  list-style: none;
  margin-right: 50px;
}
.Slidebar-social-item:last-child {
  margin-right: 0;
}
.Slidebar-social-item a {
  color: white;
  display: block;
  font-size: 3em;
}
.Slidebar-social-item a:hover {
  color: #3b3b3b;
}
