@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  color: #1f1f1f;
  font-family: "montserratregular";
  font-size: 16px;
}

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:focus {
  text-decoration: none;
}

.text-white {
  color: white;
}

.text-title {
  color: #3b3b3b;
}

.text-orange {
  color: #ff6043;
}

@font-face {
  font-family: 'montserratregular';
  src: url("./../fonts/montserrat-regular.eot");
  src: url("./../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-regular.woff2") format("woff2"), url("./../fonts/montserrat-regular.woff") format("woff"), url("./../fonts/montserrat-regular.ttf") format("truetype"), url("./../fonts/montserrat-regular.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratmedium';
  src: url("./../fonts/montserrat-medium.eot");
  src: url("./../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-medium.woff2") format("woff2"), url("./../fonts/montserrat-medium.woff") format("woff"), url("./../fonts/montserrat-medium.ttf") format("truetype"), url("./../fonts/montserrat-medium.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("./../fonts/montserrat-light.eot");
  src: url("./../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-light.woff2") format("woff2"), url("./../fonts/montserrat-light.woff") format("woff"), url("./../fonts/montserrat-light.ttf") format("truetype"), url("./../fonts/montserrat-light.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url("./../fonts/montserrat-semibold.eot");
  src: url("./../fonts/montserrat-semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/montserrat-semibold.woff2") format("woff2"), url("./../fonts/montserrat-semibold.woff") format("woff"), url("./../fonts/montserrat-semibold.ttf") format("truetype"), url("./../fonts/montserrat-semibold.svg#montserratsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("./../fonts/icomoon.eot?s7nxcr");
  src: url("./../fonts/icomoon.eot?s7nxcr#iefix") format("embedded-opentype"), url("./../fonts/icomoon.ttf?s7nxcr") format("truetype"), url("./../fonts/icomoon.woff?s7nxcr") format("woff"), url("./../fonts/icomoon.svg?s7nxcr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}

.icon-play:before {
  content: "\e900";
}

.Header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  position: fixed;
  top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 99;
}
.Header--black {
  background-color: transparent;
}
.Header.affix {
  background-color: #fa5151;
}
.Header.affix .MainMenu--black li.current-menu-item a, .Header.affix .MainMenu--black li.active a {
  border-bottom: 4px solid white;
}
.Header.affix .MainMenu--black li a {
  color: white;
}
.Header.affix .MainMenu--black li a:hover {
  border-bottom: 4px solid white;
}

.Header-logo {
  margin: 0;
}

.Header-menu {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
}

.MainMenu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}
.MainMenu li {
  font-family: "montserratmedium";
  padding: 0 20px;
}
.MainMenu li.current-menu-item a, .MainMenu li.active a {
  border-bottom: 4px solid white;
}
.MainMenu li a {
  color: white;
  padding-bottom: 5px;
  text-align: center;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.MainMenu li a:hover {
  border-bottom: 4px solid white;
  text-decoration: none;
}
.MainMenu li a:focus {
  text-decoration: none;
}
.MainMenu--black li.current-menu-item a, .MainMenu--black li.active a {
  border-bottom: 4px solid #fa5151;
}
.MainMenu--black li a {
  color: #333333;
}
.MainMenu--black li a:hover {
  border-bottom: 4px solid #fa5151;
}

.Carousel--home {
  position: relative;
}
.Carousel--home .carousel-caption {
  -webkit-align-content: center;
  align-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: auto;
  height: 100%;
  left: 10%;
  padding: 0;
  right: auto;
  text-align: left;
  text-shadow: none;
  top: 0;
  width: 40%;
}
.Carousel--home .carousel-caption h2, .Carousel--home .carousel-caption h3, .Carousel--home .carousel-caption p {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.Carousel--home .carousel-caption h3 {
  font-family: "montserratlight";
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
}
.Carousel--home .carousel-caption h2 {
  font-family: "montserratsemibold";
  font-size: 4.875em;
  margin-bottom: 0;
  margin-top: 0;
}
.Carousel--home .carousel-caption p {
  font-size: 1.125em;
  margin-top: 0;
}

.Button {
  border: none;
  display: inline-block;
  font-family: "montserratmedium";
  font-size: 1.125em;
  padding: 15px 35px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Button:hover, .Button:focus {
  text-decoration: none;
}
.Button--orange {
  background-color: #ff6043;
  color: white !important;
}
.Button--orange:hover, .Button--orange:focus {
  background-color: #fa5151;
  color: white !important;
}
.Button--white {
  background-color: #fff;
}
.Button i[class^="icon-"] {
  vertical-align: middle;
}
.Button--normal {
  font-size: 1em;
}

.Arrow {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  background-color: transparent;
  border: none;
  bottom: 80px;
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
}
.Arrow i {
  display: block;
  font-size: 2em;
}

.ArrowTop {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  bottom: 50px;
  color: #333333;
  display: none;
  font-size: 2em;
  position: fixed;
  right: 25px;
  z-index: 9;
}

.Services {
  display: -webkit-flex;
  display: flex;
}

.Services-item {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
  position: relative;
}

.Services-title {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  top: 0;
  width: 100%;
}
.Services-title h3 {
  color: white;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  font-size: 2.25em;
  margin: 0;
}

.Page {
  padding: 110px 0 80px;
}
.Page--borderOrange {
  background: white url("./../images/border-orange.jpg") 100% 0 no-repeat;
  background-size: contain;
}
.Page--intro {
  padding-top: 200px;
}
.Page p {
  font-family: "montserratlight";
}
.Page p a {
  color: #1f1f1f;
}
.Page p a:hover {
  color: #ff6043;
}

.Page-section {
  margin-top: 30px;
}

.Page-link {
  margin: 30px 0;
}
.Page-link i[class^="icon-"] {
  font-size: 2em;
  vertical-align: middle;
}

.Page-title {
  color: #3b3b3b;
  font-family: "montserratsemibold";
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
}
.Page-title--white {
  color: white;
}

.Page-subtitle {
  color: #3b3b3b;
  font-family: "montserratsemibold";
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 15px;
}

.Page-legend {
  font-family: "montserratlight";
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

.Page-resalt {
  font-family: "montserratsemibold";
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
}

.Page-blog {
  display: -webkit-flex;
  display: flex;
  margin-top: 25px;
}

.Page-blog-item {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
  padding: 0 15px;
}
.Page-blog-item p {
  font-family: "montserratlight";
}

.Page-blog-figure {
  margin-bottom: 15px;
}

.Page-blog-date {
  color: gray;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-top: 0;
}

.Page-blog-title {
  font-family: "montserratmedium";
  font-size: 1.5em;
}
.Page-blog-title a {
  color: #111015;
  margin-top: 0;
}
.Page-blog-title a:hover {
  color: #ff6043;
  text-decoration: none;
}

.Page-blog-readmore {
  color: #f22424;
  font-family: "montserratmedium";
}
.Page-blog-readmore:hover, .Page-blog-readmore:focus {
  color: #ff6043;
}

.Page-separator {
  border-top-width: 3px;
  border-top-style: solid;
  margin-bottom: 25px;
  margin-top: 25px;
}
.Page-separator--short {
  width: 70px;
}
.Page-separator--right {
  margin-left: auto;
  margin-right: 0;
}
.Page-separator--orange {
  border-top-color: #ff6043;
}

.Page-list {
  padding-left: 0;
}
.Page-list--flex {
  display: -webkit-flex;
  display: flex;
}
.Page-list--flex li {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  list-style: none;
}

.Page-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Page-flex--blog .Page-flex-item--50 {
  margin-bottom: 0;
  padding: 0;
}
.Page-flex--blog .Page-flex-item:hover .Page-flex--blog-content {
  display: -webkit-flex;
  display: flex;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.Page-flex-item {
  margin-bottom: 40px;
}
.Page-flex-item--50 {
  -webkit-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 20px;
}
.Page-flex-item--icon {
  padding-left: 60px;
  position: relative;
}
.Page-flex-item--icon-casco::before {
  background: transparent url("./../images/icon-casco.png") 0 0 no-repeat;
  content: "";
  display: inline-block;
  height: 44px;
  left: 0;
  position: absolute;
  width: 44px;
}

.Page-flex--blog-figure {
  position: relative;
}

.Page-flex--blog-content {
  background-color: rgba(250, 81, 81, 0.7);
  display: none;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  width: 100%;
}
.Page-flex--blog-content .Page-subtitle {
  color: white;
  margin-bottom: 25px;
}
.Page-flex--blog-content .Page-subtitle::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  margin: 25px auto 0;
  width: 32px;
}
.Page-flex--blog-content .Page-subtitle, .Page-flex--blog-content p {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  text-align: center;
}

.Page-nav {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
}

.Page-nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
.Page-nav-list li {
  border: 1px solid #3b3b3b;
  font-size: 1.125em;
  list-style: none;
  margin-right: 15px;
  padding: 15px 20px;
}
.Page-nav-list li:last-child {
  margin-right: 0;
}
.Page-nav-list li a {
  color: #3b3b3b;
  display: inline-block;
}
.Page-nav-list li:hover {
  background-color: #fa5151;
  border-color: #fa5151;
}
.Page-nav-list li:hover a {
  color: white;
}

.Parallax {
  position: relative;
}

.Parallax-caption {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  left: 10%;
  position: absolute;
  top: 0;
  width: 70%;
}

.Parallax-title, .Parallax-subtitle {
  color: white;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  margin: 0;
}

.Parallax-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
}

.Parallax-title {
  font-family: "montserratsemibold";
  font-size: 4em;
}

.Slogan {
  background-color: #ff6043;
  padding: 50px;
}

.Slogan-subtitle, .Slogan-title {
  color: white;
  margin: 0;
}

.Slogan-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
}

.Slogan-title {
  font-family: "montserratsemibold";
  font-size: 4em;
}

.Form .form-group {
  margin-bottom: 20px;
}
.Form .form-control {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #111015;
  font-size: 1em;
  height: 42px;
}
.Form .form-control:-moz-placeholder {
  color: #111015;
}
.Form .form-control::-moz-placeholder {
  color: #111015;
}
.Form .form-control:-ms-input-placeholder {
  color: #111015;
}
.Form .form-control::-webkit-input-placeholder {
  color: #111015;
}
.Form textarea.form-control {
  height: 100px;
}

.Form-loader {
  color: white;
  display: inline-block;
  font-size: 2em;
  margin: 0 0 0 15px;
  vertical-align: middle;
}

.Contact {
  display: -webkit-flex;
  display: flex;
}

.Contact-map, .Contact-form {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}

.Contact-map-figure {
  height: 100%;
}

.Contact-form {
  background-color: #111015;
  padding: 80px 12%;
}
.Contact-form .Form {
  margin-top: 25px;
}

.Footer {
  background: #111015 url("./../images/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.Footer-logo {
  margin: 0 0 25px 0;
}

.Footer-text {
  color: white;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-bottom: 0;
}

.Footer-separator {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.Footer-social {
  margin-bottom: 0;
  margin-left: 0;
}
.Footer-social > .Footer-social-item {
  font-size: 1.25em;
  padding: 0 15px;
}
.Footer-social > .Footer-social-item a {
  color: white;
}
.Footer-social > .Footer-social-item a:hover {
  color: #ff6043;
}

.Marker {
  padding-top: 15px;
}

.Marker-list {
  padding-left: 0;
}
.Marker-list li {
  font-family: "montserratlight";
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}
.Marker-list li strong {
  font-family: "montserratsemibold";
}

.Marker-title {
  font-family: "montserratsemibold";
  font-size: 1.75em;
  margin-top: 0;
}
