.Button {
  border: none;
  display: inline-block;
  font-family: "montserratmedium";
  font-size: 1.125em;
  padding: 15px 35px;
  @include transition(all 0.2s ease);
  &:hover, &:focus {
    text-decoration: none;
  }
  &--orange {
    background-color: $orange;
    color: white !important;
    &:hover, &:focus {
      background-color: $redSoft;
      color: white !important;
    }
  }
  &--white {
    background-color: #fff;
  }
  &--transparent {
    border: 1px solid white;
    color: white;
    &:hover {
      background-color: $orange;
      border-color: $orange;
      color: white;
    }
  }
  i[class^="icon-"] {
    vertical-align: middle;
  }
  &--normal {
    font-size: 1em;
  }
  &--small {
    padding: 10px 15px;
  }
}
.Arrow {
  @include animation-duration(3s);
  background-color: transparent;
  border: none;
  bottom: 80px;
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  i {
    display: block;
    font-size: 2em;
  }
  @media screen and (max-width: 991px) {
    bottom: 20px;
  }
}
.ArrowTop {
  @include animation-duration(3s);
  bottom: 50px;
  color: $blackSoft;
  display: none;
  font-size: 2em;
  position: fixed;
  right: 25px;
  z-index: 9;
}
