.Carousel {
  &--home {
    position: relative;
    .carousel-caption {
      @include align-content(center);
      @include display-flex();
      @include flex-wrap(wrap);
      bottom: auto;
      height: 100%;
      left: 10%;
      padding: 0;
      right: auto;
      text-align: left;
      @include text-shadow(none);
      top: 0;
      width: 40%;
      h2, h3, p {
        @include flex-basis(100%);
      }
      h3 {
        font-family: "montserratlight";
        font-size: 4em;
        margin-bottom: 0;
        margin-top: 0;
      }
      h2 {
        font-family: "montserratsemibold";
        font-size: 4.875em;
        margin-bottom: 0;
        margin-top: 0;
      }
      p {
        font-size: 1.125em;
        margin-top: 0;
      }
    }
  }
}
