.Carousel {
  &--home {
    position: relative;
    .carousel-caption {
      @include align-content(center);
      @include display-flex();
      @include flex-wrap(wrap);
      bottom: auto;
      height: 100%;
      left: 10%;
      padding: 0;
      right: auto;
      text-align: left;
      @include text-shadow(none);
      top: 0;
      width: 40%;
      h2, h3, p {
        @include flex-basis(100%);
      }
      h3 {
        font-family: "montserratlight";
        font-size: 4em;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 2.5em;
        }
      }
      h2 {
        font-family: "montserratsemibold";
        font-size: 4.875em;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 3em;
        }
      }
      p {
        font-size: 1.125em;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }
      @media screen and (max-width: 991px) {
        width: 80%;
      }
    }
  }
  &--project {
    .carousel-indicators {
      bottom: auto;
      left: auto;
      margin: 20px 0;
      position: relative;
      text-align: center;
      width: 100%;
      li {
        height: auto;
        text-indent: unset;
        width: 150px;
        img {
          width: 150px;
        }
        &.active {
          .img-thumbnail {
            background-color: $orange;
            border-color: $orange;
          }
        }
      }
    }
    .carousel-control {
      background-image: none;
      bottom: auto;
      color: white;
      font-size: 5em;
      @include opacity(0);
      @include text-shadow(none);
      top: 35%;
      @include transition(all 0.2s ease);
      width: auto;
      &.left {
        left: 20px;
      }
      &.right {
        right: 20px;
      }
      &:hover {
        color: $orange;
      }
    }
    &:hover {
      .carousel-control {
        @include opacity(1);
      }
    }
  }
}
