.Footer {
  background: $black url('./../images/footer-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.Footer-logo {
  margin: 0 0 25px 0;
}
.Footer-text {
  color: white;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-bottom: 0;
}
.Footer-separator {
  border-top: 1px solid rgba(white, 0.1);
}
.Footer-social {
  margin-bottom: 0;
  margin-left: 0;
  > .Footer-social-item {
    font-size: 1.25em;
    padding: 0 15px;
    a {
      color: white;
      &:hover {
        color: $orange;
      }
    }
  }
}
