.Form {
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border: none;
    @include border-radius(0);
    color: $black;
    font-size: 1em;
    height: 42px;
    @include input-placeholder {
      color: $black;
    }
  }
  textarea {
    &.form-control {
      height: 100px;
    }
  }
}
.Form-loader {
  color: white;
  display: inline-block;
  font-size: 2em;
  margin: 0 0 0 15px;
  vertical-align: middle;
}
