.Header {
  background-color: rgba(black, 0.6);
  padding: 15px 0;
  position: fixed;
  top: 0;
  @include transition(all 0.2s ease);
  width: 100%;
  z-index: 99;
  &--black {
    background-color: transparent;
  }
  &.affix {
    background-color: $redSoft;
    .MainMenu--black {
      li {
        &.current-menu-item, &.current-menu-parent, &.active {
          a {
            border-bottom: 4px solid white;
          }
        }
        a {
          color: white;
          &:hover {
            border-bottom: 4px solid white;
          }
        }
      }
    }
  }
}
.Header-logo {
  margin: 0;
}
.Header-menu {
  @include display-flex();
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
}
