.Header {
  background-color: rgba(black, 0.6);
  padding: 15px 0;
  position: fixed;
  top: 0;
  @include transition(all 0.2s ease);
  width: 100%;
  z-index: 99;
  &.affix {
    background-color: $redSoft;
  }
}
.Header-logo {
  margin: 0;
}
.Header-menu {
  @include display-flex();
  margin: 0;
  padding-left: 0;
  padding-top: 25px;
}
