.MainMenu {
  @include display-flex();
  @include justify-content(flex-end);
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
  li {
    font-family: "montserratmedium";
    padding: 0 20px;
    &.active {
      a {
        border-bottom: 4px solid white;
      }
    }
    a {
      color: white;
      padding-bottom: 5px;
      text-align: center;
      @include transition(all 0.2s ease);
      &:hover {
        border-bottom: 4px solid white;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
}
