.Modal {
  &--video {
    .modal-dialog {
      margin-bottom: 0;
      width: 660px;
      @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
    }
    .modal-body {
      padding: 0;
      .close {
        color: $orange;
        font-size: 4em;
        @include opacity(1);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    @media screen and (max-width: 991px) {
      .Page-video {
        margin-top: 0;
      }
    }
  }
  &--orange {
    .modal-content {
      border: 10px solid $orange;
    }
  }
}
