.Page {
  padding: 110px 0 80px;
  &--borderOrange {
    background: white url('./../images/border-orange.jpg') 100% 0 no-repeat;
    background-size: contain;
  }
  &--intro {
    padding-top: 200px;
  }
  p {
    font-family: "montserratlight";
    a {
      color: $text-color;
      &:hover {
        color: $orange;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 100px;
  }
}
.Page-section {
  margin-top: 30px;
}
.Page-link {
  margin: 30px 0;
  i[class^="icon-"] {
    font-size: 2em;
    vertical-align: middle;
  }
}
.Page-title {
  color: $title-color;
  font-family: "montserratsemibold";
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
  &--white {
    color: white;
  }
}
.Page-subtitle {
  color: $title-color;
  font-family: "montserratsemibold";
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 15px;
}
.Page-legend {
  font-family: "montserratlight";
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}
.Page-resalt {
  font-family: "montserratsemibold";
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0;
}
.Page-blog {
  @include display-flex();
  margin-top: 25px;
  @media screen and (max-width: 767px) {
    @include flex-wrap(wrap);
  }
}
.Page-blog-item {
  @include flex-basis(33.33%);
  padding: 0 15px;
  p {
    font-family: "montserratlight";
    @media screen and (max-width: 991px) {
      font-size: 0.875em;
    }
  }
  @media screen and (max-width: 767px) {
    @include flex-basis(100%);
    margin-bottom: 20px;
  }
}
.Page-blog-figure {
  margin-bottom: 15px;
}
.Page-blog-date {
  color: gray;
  font-family: "montserratlight";
  font-size: 0.875em;
  margin-top: 0;
}
.Page-blog-title {
  font-family: "montserratmedium";
  font-size: 1.5em;
  @media screen and (max-width: 991px) {
    font-size: 1.25em;
    margin-top: 0;
  }
  a {
    color: $black;
    margin-top: 0;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}
.Page-blog-readmore {
  color: $red;
  font-family: "montserratmedium";
  &:hover, &:focus {
    color: $orange;
  }
}

.Page-separator {
  border-top-width: 3px;
  border-top-style: solid;
  margin-bottom: 25px;
  margin-top: 25px;
  &--short {
    width: 70px;
  }
  &--right {
    margin-left: auto;
    margin-right: 0;
  }
  &--orange {
    border-top-color: $orange;
  }
}
.Page-list {
  padding-left: 0;
  &--flex {
    @include display-flex();
    li {
      @include flex(1 1 0);
      list-style: none;
    }
  }
}
.Page-flex {
  @include display-flex();
  @include flex-wrap(wrap);
  &--blog {
    .Page-flex-item--50 {
      margin-bottom: 0;
      padding: 0;
    }
    .Page-flex-item {
      &:hover {
        .Page-flex--blog-content {
          @include display-flex();
          @include opacity(1);
          @include scale(1);
        }
      }
    }
  }
}
.Page-flex-item {
  margin-bottom: 40px;
  &--50 {
    @include flex(0 1 50%);
    padding: 0 20px;
  }
  &--icon {
    padding-left: 60px;
    position: relative;
    &-casco {
      &::before {
        background: transparent url('./../images/icon-casco.png') 0 0 no-repeat;
        content: "";
        display: inline-block;
        height: 44px;
        left: 0;
        position: absolute;
        width: 44px;
      }
    }
  }
}
.Page-flex--blog-figure {
  position: relative;
}
.Page-flex--blog-content {
  background-color: rgba($redSoft, 0.7);
  display: none;
  @include align-content(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  height: 100%;
  left: 0;
  @include opacity(0);
  position: absolute;
  top: 0;
  @include transition(all 0.2s ease);
  @include scale(0);
  width: 100%;
  .Page-subtitle {
    color: white;
    margin-bottom: 25px;
    &::after {
      background-color: #fff;
      content: "";
      display: block;
      height: 2px;
      margin: 25px auto 0;
      width: 32px;
    }
  }
  .Page-subtitle, p {
    @include flex-basis(100%);
    text-align: center;
  }
}
.Page-nav {
  @include display-flex();
  margin-bottom: 50px;
}
.Page-nav-list {
  @include display-flex();
  @include justify-content(center);
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  li {
    border: 1px solid $title-color;
    font-size: 1.125em;
    list-style: none;
    margin-right: 15px;
    padding: 15px 20px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $title-color;
      display: inline-block;
    }
    &.current-menu-item, &:hover {
      background-color: $redSoft;
      border-color: $redSoft;
      a {
        color: white;
      }
    }
  }
}
.Page-single {

}
.Page-single-title {
  font-family: "montserratmedium";
}
.Page-single-category {
  font-size: 1.125em;
  a {
    &:hover {
      color: $red;
    }
  }
}
.Page-single-figure {
  margin: 20px 0;
}
