.Parallax {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include display-flex();
  @include align-items(center);
  padding: 120px 0;
  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }
}
.Parallax-caption {
  @include display-flex();
  @include align-content(center);
  @include flex-wrap(wrap);
  height: 100%;
  margin: 0 auto 0 10%;
  width: 70%;
  @media screen and (max-width: 991px) {
    text-align: center;
    width: 80%;
  }
}
.Parallax-title, .Parallax-subtitle {
  color: white;
  @include flex-basis(100%);
  margin: 0;
}
.Parallax-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
  @media screen and (max-width: 991px) {
    font-size: 2.5em;
  }
}
.Parallax-title {
  font-family: "montserratsemibold";
  font-size: 4em;
  @media screen and (max-width: 991px) {
    font-size: 3em;
  }
}
