.Services {
  @include display-flex();
}
.Services-item {
  @include flex(0 1 auto);
  position: relative;
}
.Services-title {
  position: absolute;
  @include display-flex();
  @include align-items(center);
  height: 100%;
  top: 0;
  width: 100%;
  h3 {
    color: white;
    @include flex-basis(100%);
    font-size: 2.25em;
    margin: 0;
    a {
      color: white;
      &:hover {
        color: $orange;
      }
    }
  }
}
