.Single-nav {
  @include display-flex();
  @include justify-content(space-between);
}
.Single-nav-pre, .Single-nav-next {
  @include display-flex();
  color: $blackSoft;
  font-family: "montserratmedium";
  font-size: 1.125em;
  @include opacity(0.6);
  i[class^="icon-"] {
    font-size: 1.44em;
    vertical-align: top;
  }
  i {
    &.icon-arrow-circle-o-left {
      margin-right: 15px;
      @media screen and (max-width: 767px) {
        margin-right: 5px;
      }
    }
    &.icon-arrow-circle-o-right {
      margin-left: 15px;
      @media screen and (max-width: 767px) {
        margin-left: 5px;
      }
    }
  }
  &:hover {
    color: $blackSoft;
    @include opacity(1);
    i[class^="icon-"] {
      color: $orange;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 1em;
  }
}
.Single-nav-next {
  text-align: right;
}
.Single-tags {
  @include display-flex();
  margin: 25px 0;
}
.Single-tags-title {
  color: $blackSoft;
  font-family: "montserratmedium";
  font-size: 1.125em;
  margin: 0 10px 0 0;
}
.Single-tags-list {
  @include display-flex();
  margin-bottom: 0;
  padding-left: 0;
  li {
    font-family: "montserratmedium";
    font-size: 1.125em;
    list-style: none;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $blackSoft;
      &:hover {
        color: $orange;
      }
    }
  }
}
