.Slogan {
  background-color: $orange;
  padding: 50px;
}
.Slogan-subtitle, .Slogan-title {
  color: white;
  margin: 0;
}
.Slogan-subtitle {
  font-family: "montserratlight";
  font-size: 3em;
}
.Slogan-title {
  font-family: "montserratsemibold";
  font-size: 4em;
}
