.Slogan {
  background-color: $orange;
  padding: 50px;
}
.Slogan-subtitle, .Slogan-title {
  color: white;
  margin: 0;
}
.Slogan-subtitle {
  font-size: 3.5em;
}
.Slogan-title {
  font-family: "Myriad-Pro-Bold";
  font-size: 4em;
}
